# LLM
OPENAI_MODEL_NAME=
OPENAI_API_KEY= 
OPENAI_API_BASE=

# Брокер
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_DEFAULT_VHOST=/
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672

# UI
STREAMLIT_SERVER_ADDRESS=0.0.0.0
STREAMLIT_SERVER_PORT=8501
STREAMLIT_SERVER_HEADLESS=true
STREAMLIT_BROWSER_GATHER_USAGE_STATS=false
STREAMLIT_THEME_BASE="light"

# Core API
CORE_API_PORT=8000

# auth

AUTH_PORT=9000
OIDC_ISSUER=<OIDC_ISSUER>
KC_CLIENT_ID=<ваш_клиент_id>
KC_CLIENT_SECRET=<ваш_клиент_secret>      

# Публичный URL для доступа к auth сервису
AUTH_PUBLIC_URL=
FRONTEND_URL=

CORE_API_BASE=http://core_api:8000         

SCOPES=openid profile email roles offline_access
USE_PKCE=true

COOKIE_NAME=sid
COOKIE_SECURE=false                                 
COOKIE_SAMESITE=Lax                                 

SESSION_TTL_SECONDS=3600
LOG_LEVEL=INFO
# LLM 
OPENAI_MODEL_NAME=gpt-4.1-mini 
OPENAI_API_KEY= 
OPENAI_API_BASE=https://api.openai.com/v1 
 
# Брокер 
RABBITMQ_DEFAULT_USER=guest 
RABBITMQ_DEFAULT_PASS=guest 
RABBITMQ_DEFAULT_VHOST=/ 
RABBITMQ_PORT=5672 
RABBITMQ_UI_PORT=15672 
RABBITMQ_DEFAULT_HOST=rabbitmq 
 
# UI 
STREAMLIT_SERVER_ADDRESS=0.0.0.0 
STREAMLIT_SERVER_PORT=8501 
STREAMLIT_SERVER_HEADLESS=true 
STREAMLIT_BROWSER_GATHER_USAGE_STATS=false 
STREAMLIT_THEME_BASE="light" 
 
# Core API 
CORE_API_PORT=8000 
CORE_API_HOST=core_api 
 
# auth 
AUTH_PORT=9000 
OIDC_ISSUER=https://keycloak-vld.fesco.com/realms/hr-assist 
KC_CLIENT_ID=hr-assist-local 
KC_CLIENT_SECRET=Ycv3dDVfQttR1NStdSn0z5LOyumn7Zn9       
 
# Публичный URL для доступа к auth сервису 
AUTH_PUBLIC_URL=http://10.128.65.21/auth 
FRONTEND_URL=http://10.128.65.21 
 
SCOPES=openid profile email roles offline_access    
USE_PKCE=true 
 
COOKIE_NAME=sid 
COOKIE_SECURE=false                                 # в проде с HTTPS ставь true 
COOKIE_SAMESITE=Lax                                 # если разные домены, используй None (+ HTTPS) 
 
SESSION_TTL_SECONDS=3600 
LOG_LEVEL=INFO 
 
# PostgreSQL 
POSTGRES_HOST=postgres 
POSTGRES_PORT=5432 
POSTGRES_DB=hr_assist 
POSTGRES_USER=postgres 
POSTGRES_PASSWORD=postgres