.venv
.ruff_cache
test_data/*
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.mypy_cache/
.pytest_cache/
.venv/
.env
.venv
.ruff_cache
test_data/*
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.mypy_cache/
.pytest_cache/
.venv/
.env
.DS_Store
__pycache__
benchmark
test_notebooks
prompt_management
.gitlab
.cursor
.gitlab-ci.yml
compose-dev.yml
compose-main.yml
compose-nginx.yml
compose-test.yml
.gitattributes
nginx
.vscode