apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
data:
  # UI
  STREAMLIT_SERVER_ADDRESS: "0.0.0.0"
  STREAMLIT_SERVER_PORT: "8501"
  STREAMLIT_SERVER_HEADLESS: "true"
  STREAMLIT_BROWSER_GATHER_USAGE_STATS: "false"
  STREAMLIT_THEME_BASE: "light"

  # Core API
  CORE_API_PORT: "8000"
  CORE_API_BASE: "http://{{ .Release.Name }}-core-api:8000"

  # RabbitMQ
  RABBITMQ_DEFAULT_VHOST: "{{ .Values.rabbitmq.vhost }}"
  RABBITMQ_PORT: "{{ .Values.rabbitmq.port }}"
  RABBITMQ_UI_PORT: "{{ .Values.rabbitmq.uiPort }}"

  # Postgres
  POSTGRES_HOST: "{{ .Release.Name }}-postgres"
  POSTGRES_PORT: "{{ .Values.postgres.port | quote }}"

  # Логирование
  LOG_LEVEL: "{{ .Values.env.logLevel }}"

