{{- if not (and .Values.secrets .Values.secrets.useExternal) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
type: Opaque
stringData:
  # LLM
  OPENAI_API_KEY: {{ .Values.secrets.openaiApiKey | default "" | quote }}

  # Keycloak
  KC_CLIENT_SECRET: {{ .Values.secrets.kcClientSecret | default "" | quote }}

  # RabbitMQ
  RABBITMQ_DEFAULT_PASS: {{ .Values.secrets.rabbitmqPassword | default "" | quote }}

  # PostgreSQL
  POSTGRES_PASSWORD: {{ .Values.secrets.postgresPassword | default "" | quote }}
{{- end }}
