{{- if not .Values.secrets.useExternal }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
type: Opaque
stringData:
  POSTGRES_USER: "{{ .Values.postgres.username }}"
  POSTGRES_PASSWORD: "{{ .Values.postgres.password }}"
  POSTGRES_DB: "{{ .Values.postgres.db }}"
  RABBITMQ_DEFAULT_USER: "{{ .Values.rabbitmq.username }}"
  RABBITMQ_DEFAULT_PASS: "{{ .Values.rabbitmq.password }}"
  OPENAI_API_KEY: "{{ .Values.secrets.openaiApiKey }}"
{{- end }}
