{{- if not .Values.secrets.useExternal }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
type: Opaque
stringData:
  # LLM
  OPENAI_API_KEY: {{ .Values.secrets.openaiApiKey | quote }}

  # Keycloak
  KC_CLIENT_SECRET: {{ .Values.secrets.kcClientSecret | quote }}

  # RabbitMQ
  RABBITMQ_DEFAULT_PASS: {{ .Values.secrets.rabbitmqPassword | quote }}

  # PostgreSQL
  POSTGRES_PASSWORD: {{ .Values.secrets.postgresPassword | quote }}
{{- end }}
