global:
  configMapName: ""  # Будет использовано значение по умолчанию {{ .Release.Name }}-config
  secretName: "team-1-secrets"  # Имя существующего secret. Если пусто, будет использовано значение по умолчанию {{ .Release.Name }}-secrets
  rbac:
    enabled: false  # Set to true to enable RBAC-based secret isolation (can be overridden in subcharts)

# Replica counts for deployments
replicaCount:
  coreApi: 1
  frontend: 1
  workers: 1

# Image configurations
image:
  authService:
    repository: erofeevdma/aith-team1-auth-service
    tag: latest
    pullPolicy: Always
  coreApi:
    repository: docker.io/erofeevdma/aith-team1-core-api
    tag: b6453281e7413f3e35e8c7059130b503b763168e
    pullPolicy: Always
  frontend:
    repository: docker.io/erofeevdma/aith-team1-frontend
    tag: b6453281e7413f3e35e8c7059130b503b763168e
    pullPolicy: Always
  resumeWorker:
    repository: docker.io/erofeevdma/aith-team1-resume-evaluation-worker
    tag: b6453281e7413f3e35e8c7059130b503b763168e
    pullPolicy: Always
  jobDescrWorker:
    repository: docker.io/erofeevdma/aith-team1-job-description-worker
    tag: b6453281e7413f3e35e8c7059130b503b763168e
    pullPolicy: Always
  questionWorker:
    repository: docker.io/erofeevdma/aith-team1-question-generation-worker
    tag: b6453281e7413f3e35e8c7059130b503b763168e
    pullPolicy: Always

rabbitmq:
  image: rabbitmq:3.13-management-alpine
  username: guest
  password: "" 
  vhost: "/"
  port: 5672
  uiPort: 15672

postgres:
  image: postgres:16
  username: postgres
  password: ""
  db: hr_assist
  port: 5432

ingress:
  enabled: true
  host: ""
  className: nginx
  tls: false

env:
  openaiModelName: "gpt-4.1-mini"
  openaiApiBase: "https://api.openai.com/v1"
  logLevel: INFO

secrets:
  useExternal: false # используем Vault
  useExisting: true # true для тестов
  existingSecretName: "hr-assist-secrets"
  
  vault:
    path: "team1/hr-assist"
    username: ""
  
  openaiApiKey: ""
  kcClientSecret: ""
  rabbitmqPassword: ""
  postgresPassword: ""
# временно пока не разобрались с external secrets

# RBAC Configuration
rbac:
  enabled: false  # Set to true to enable RBAC-based secret isolation

