---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-core-api
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: core-api
  template:
    metadata:
      labels:
        app: core-api
    spec:
      containers:
        - name: core-api
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.targetPort }}
          envFrom:
            - configMapRef:
                name: {{ .Values.configMap.name | default (printf "%s-config" .Release.Name) }}
            - secretRef:
                name: {{ .Values.secret.name | default (printf "%s-secrets" .Release.Name) }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}

