image:
  repository: erofeevdma/aith-team1-resume-evaluation-service
  tag: latest
  pullPolicy: Always

replicaCount: 3

resources:
  requests:
    cpu: "10m"
    memory: "150Mi"
  limits:
    cpu: "200m"
    memory: "300Mi"

configMap:
  name: ""

secret:
  name: ""

rbac:
  enabled: false

autoscaling:
  enabled: true
  minReplicaCount: 1
  maxReplicaCount: 5
  queueName: "resume_evaluation_queue"
  queueLength: 10
  rabbitmqHost: ""

