image:
  repository: ghcr.io/csu-itmo-2025-2/team1-resume-evaluation-worker
  tag: b6453281e7413f3e35e8c7059130b503b763168e
  pullPolicy: Always

replicaCount: 3

resources:
  requests:
    cpu: "10m"
    memory: "150Mi"
  limits:
    cpu: "100m"
    memory: "300Mi"

configMap:
  name: ""

secret:
  name: ""

rbac:
  enabled: false

autoscaling:
  enabled: true
  minReplicaCount: 1
  maxReplicaCount: 5
  queueName: "resume_evaluation_queue"
  queueLength: 10
  rabbitmqHost: ""

probes:
  liveness:
    exec:
      command:
        - /bin/sh
        - -c
        - "test -f /proc/1/cmdline"
    initialDelaySeconds: 60
    periodSeconds: 30
    timeoutSeconds: 10
    failureThreshold: 3
  readiness:
    exec:
      command:
        - /bin/sh
        - -c
        - "test -f /proc/1/cmdline"
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3

