image:
  repository: erofeevdma/aith-team1-job-description-service
  tag: latest
  pullPolicy: Always

replicaCount: 2

resources:
  requests:
    cpu: "10m"
    memory: "150Mi"
  limits:
    cpu: "100m"
    memory: "200Mi"

configMap:
  name: ""

secret:
  name: ""

autoscaling:
  enabled: true
  minReplicaCount: 1
  maxReplicaCount: 5
  queueName: "job_description_queue"
  queueLength: 10
  rabbitmqHost: ""

rbac:
  enabled: false

probes:
  liveness:
    exec:
      command:
        - /bin/sh
        - -c
        - "test -f /proc/1/cmdline"
    initialDelaySeconds: 60
    periodSeconds: 30
    timeoutSeconds: 10
    failureThreshold: 3
  readiness:
    exec:
      command:
        - /bin/sh
        - -c
        - "test -f /proc/1/cmdline"
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3