image:
  repository: erofeevdma/aith-team1-job-description-service
  tag: latest
  pullPolicy: Always

replicaCount: 3

resources:
  requests:
    cpu: "10m"
    memory: "150Mi"
  limits:
    cpu: "200m"
    memory: "300Mi"

configMap:
  name: ""

secret:
  name: ""

autoscaling:
  enabled: true
  minReplicaCount: 1
  maxReplicaCount: 5
  queueName: "job_description_queue"
  queueLength: 10
  rabbitmqHost: ""

rbac:
  enabled: false
