image: rabbitmq:3.13-management-alpine
username: guest
vhost: "/"
port: 5672
uiPort: 15672

replicaCount: 1

resources:
  requests:
    cpu: "200m"
    memory: "512Mi"
  limits:
    cpu: "200m"
    memory: "512Mi"

configMap:
  name: ""

secret:
  name: ""

rbac:
  enabled: false

probes:
  liveness:
    exec:
      command:
        - /bin/sh
        - -c
        - "rabbitmq-diagnostics ping || exit 1"
    initialDelaySeconds: 60
    periodSeconds: 30
    timeoutSeconds: 10
    failureThreshold: 3
  readiness:
    exec:
      command:
        - /bin/sh
        - -c
        - "rabbitmq-diagnostics ping || exit 1"
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3


